*{
    margin: 0;
    position: 0;
    font-family: "Roboto",
"Helvetica",
"Arial",
sans-serif;
}
section{
    animation: open 2s;
}
@keyframes open {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}